<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:fragment="foodCard(food)">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <span class="col-10" th:text="|Ingredient: ${food.foodName}|"></span>
                    <a class="col" th:href="@{/food/edit/{id}(id = ${food.foodId})}"><i class="bi bi-wrench-adjustable-circle fs-4"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
