<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" class="vh-100" >
<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>Ingredienten Overzicht</title>
</head>
<body class="vh-100">
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container food-overview-container h-100">
    <h1>Overzicht van ingredienten</h1>

    <div class="row h-100">
        <div class="col-4 h-100">
            <div class="list-group h-75 overflow-scroll"
                id="list-tab" role="tablist">

                <a th:each="food : ${allFoods}" class="list-group-item list-group-item-action"
                    th:id="|${food.foodName}-item|"
                    data-bs-toggle="list"
                    role="tab"
                    th:href="|#${food.foodName}-detail|"
                    th:text="${food.foodName}">
                </a>
            </div>
            <div class="list-group">
                <a class=" btn btn-secondary btn-lg fw-bold"
                   th:href="@{/food/new}">
                    Voeg Nieuw Ingredient Toe
                </a>
            </div>
        </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane"
                        th:each="food : ${allFoods}"
                        th:id="|${food.foodName}-detail|"
                        role"tabpanel"
                        th:insert="~{fragments/food :: foodCard(food)}">
                    </div>
                </div>
            </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
