<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Replace this title</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h4>Maak een nieuw recept aan</h4>


    <form th:action="@{/recipe/save}" method="post" th:object="${recipeForm}">

        <div class="mb-3">
            <label for="newReceptName" class="form-label">Recept naam</label>
            <input type="text" th:field="*{recipeName}" class="form-control" id="newReceptName"
                   placeholder="Geef het recept een naam">
        </div>
        <br>

        <p>Kies een ingredient</p>
        <select class="form-select col" size="3" th:field="*{foodIds}">
            <option th:each="food : ${allFoods}"
                    th:text="${food.foodName}"
                    th:value="${food.foodId}"></option>
        </select>
        <br>

        <div class="mb-3">
            <label for="newFoodQuantity" class="form-label">Geef de Ingredient hoeveelheid</label>
            <input type="text" th:field="*{ingredientQuantities}" class="form-control" id="newFoodQuantity"
                   placeholder="Geef de hoeveelheid">
        </div>
        <br>

        <p>Kies de eenheid van de hoeveelheid</p>
        <select class="form-select col" size="3" th:field="*{unitIds}">
            <option th:each="unit : ${allUnits}"
                    th:text="${unit.unitName}"
                    th:value="${unit.unitId}"></option>
        </select>

        <div class="mb-3">
            <label for="recipePreparation" class="form-label">Bereiding beschrijving</label>
            <input type="text" th:field="*{preparationInstruction}" class="form-control" id="recipePreparation"
                   placeholder="Beschrijf de bereiding van het recept">
        </div>

        <input type="submit" value="Sla recept op"/>
    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>